@{
    ViewBag.Title = "Home Page";
}

<div class="homePage">
    <div class="homeCard">
        <div>
            <div class="thumbnail">
                <img src="~/Content/HOMEIMAGE.jpg" alt="People Illustration">
                <div class="caption">
                    <h3>willPower</h3>
                    <p>Welcome to the app that helps you save money and spend mindfully. Track the purchases you almost made and see how not spending gets you closer to your goals.</p>
                    @if (ViewBag.NeedID == null)
                    {
                        <p>
                            <a href="https://localhost:44377/Account/Login" class="btn btn-primary" role="button">Login</a>
                            <a href="https://localhost:44377/Account/Register" class="btn btn-primary" role="button">Register</a>
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

